.storageSection{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:33px;
  gap: 50px;
  background:lightgrey;
  @media (max-width:768px){
    flex-direction: column!important;
    padding:21px 12px!important;
  }
  @media (min-width:769px) and (max-width:1024px) {
    flex-direction: column;
  }
}
.storageSectionHeading{
  display:flex;
   flex-direction:column; 
    gap:20px; 
    width: 50%; 
  @media (max-width:768px){
    width: 100%!important;
  }
  @media (min-width:769px) and (max-width:1024px){
    width: 100%!important;
  }
}